// Basic resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; // so 1 rem = 10px => 10/16 * 100 = 62.5%
}

/* Variables */

:root {
  --main-font: 'Raleway', sans-serif;
  --color-primary: #fff;
  --color-secondary: #ef6f6c;
  --background-color: #264653;
  --header-color: #465775;
  --btn-color: #2a9d8f;
}

body {
  font-family: var(--main-font);
  overflow-x: hidden;
  background-color: #e5e5e5;
}

/* Preloader */

.preloader {
  background: linear-gradient(
    45deg,
    var(--background-color),
    var(--header-color)
  );
  position: fixed;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader.hidden {
  animation: fadeOut 1s forwards;
}

.loader-img.hidden {
  animation: trans 1s forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes trans {
  100% {
    transform: translate(-600px, -300px);
  }
}

.loader-img {
  height: 30px;
  border-radius: 50%;
  animation: load 1.5s infinite linear;
}

@keyframes load {
  100% {
    transform: rotateY(360deg);
  }
}

/* Dynamic Hamburger Menu */
.nav-toggle,
.one,
.two,
.three {
  transition: all 0.5s;
}

.one {
  transform: rotate(45deg) translate(2px, 16px);
}
.two {
  transform: translateX(200px);
}
.three {
  transform: rotate(-45deg) translateY(-14px);
}

.nav-con {
  transform: translateX(10px);
}

.navbar-toggler:focus {
  outline: none;
}

/* End of Hamburger menu */

.nav-custom {
  background: var(--background-color);
  overflow: hidden;
}

.nav-custom li {
  margin: 0 9px;
}

.nav-custom a {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.1rem;
  color: var(--color-primary) !important;
  transition: all 0.5s;
}
.nav-custom a:hover {
  color: var(--color-secondary) !important;
}

.nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-toggle-icon {
  background-color: var(--color-secondary);
  width: 4rem;
  height: 5px;
  margin: 3px;
  border-radius: 5px;
}

.navbar-toggler {
  border: none;
}

.nav-item {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

//   Home

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: 5.8rem;
  color: var(--color-primary);
}

.background-video {
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  z-index: -1;
}
.home:before {
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(70, 87, 117, 0.7),
    rgba(239, 111, 108, 0.7)
  );
}

.content {
  width: 100%;
  height: 100%;
}

.home-img {
  // box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.typecon {
  height: 20rem !important;
}

// typed
.typed-cursor {
  opacity: 0;
  visibility: hidden;
}

.home-text {
  font-weight: bold;
  font-size: 4.4rem;
  line-height: 5.6rem;
  text-align: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.62);
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.coming-soon {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 8rem;

  p:nth-child(1) {
    margin-bottom: 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.62);
  }
  p:nth-child(2) {
    font-size: 3.6rem;
    margin-bottom: 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.62);
  }
}

// TIMER

#timer {
  display: flex;
  justify-content: center;
  align-items: center;

  .time {
    margin: 8px;

    .number {
      background-color: var(--btn-color);
      border: 2px solid #fff;
      padding: 2px;
      height: 7rem;
      width: 7rem;
      font-size: 3.2rem;
      font-weight: bold;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .alpha {
      margin-top: 4px;
      font-size: 1.4rem;
      font-weight: bold;
      text-align: center;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.62);
    }
  }

  .column {
    font-size: 6.4rem !important;
    font-weight: bold;
    transform: translateY(-13px);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.62);
  }
}

.notified {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.notified-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 12rem;

  p {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.62);
  }
}

// Animation for home button
@keyframes bounce {
  100% {
    transform: translateY(10px);
  }
}

.bounce {
  animation: bounce 0.8s infinite alternate;
  background: none;
  color: #fff;

  &:hover .icon {
    color: var(--btn-color) !important;
  }

  .icon {
    font-size: 7rem;
    border-radius: 50%;
  }
}

// GET NOTIFIED FORM

.get-notified {
  padding-top: 13rem;
  padding-bottom: 10rem;
  background-color: var(--background-color);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--color-primary);
  }

  & input[type='email'] {
    width: 43.6rem;
    height: 5rem;
    background-color: #f1f1f1;
    border-radius: 5px 0px 0px 5px;
    font-size: 1.8rem;
  }

  ::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    color: rgba(11, 11, 11, 0.8);
  }

  & input[type='submit'] {
    width: 15rem;
    height: 5rem;
    background-color: var(--btn-color);
    border-radius: 0px 5px 5px 0px;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #ffffff;
    transition: background-color .5s;

    &:hover {
      background-color: var(--color-secondary);
    }
  }
}

// FEATURES

.features {
  padding-top: 5.8rem;
  background-color: E5E5E5;
}

.features-heading {
  color: var(--header-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  & p {
    font-size: 2.4rem;
    letter-spacing: 0.03em;
    font-weight: bold;
  }
}

// HOW IT WORKS

.works {
  padding-top: 5.8rem;
}

.number2 {
  font-weight: bold;
  font-size: 25rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(42, 157, 143, 0.1);
  line-height: 29.3rem;
}

.first-text {
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4.2rem;
}

.second-text {
  @extend .first-text;
  color: var(--btn-color);
  margin-left: 5px;
}

.col-5,
.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-5 > p {
  align-self: flex-start;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.03em;
}

// SCREENSHOTS

.screenshots {
  margin-top: 5.8rem;
}

.screenshot {
  padding-top: 5.8rem;
}

.screens {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // width: 100%;
  height: 74.8rem;
  // background-color: red;

  .screen-img {
    height: 60.5rem;
  }

  .screen1 {
    position: absolute;
    left: 0;
    z-index: 1;
    left: 15rem;
    transition: transform .5s;

    &:hover {
      z-index: 5;
      transform: scale(1.05);
    }
  }
  .screen2 {
    position: absolute;
    z-index: 2;
    left: 33rem;
    transition: transform .5s;

    &:hover {
      z-index: 5;
      transform: scale(1.05);
    }
  }
  .screen3 {
    position: absolute;
    z-index: 3;
    transition: transform .5s;

    &:hover {
      z-index: 5;
      transform: scale(1.05);
    }
  }
  .screen4 {
    position: absolute;
    z-index: 2;
    right: 33rem;
    transition: transform .5s;

    &:hover {
      z-index: 5;
      transform: scale(1.05);
    }
  }
  .screen5 {
    position: absolute;
    right: 0;
    z-index: 1;
    right: 15rem;
    transition: transform .5s;

    &:hover {
      z-index: 5;
      transform: scale(1.05);
    }
  }
}

// MODAL 

.modal-content {
  height: 500px;
  background: none;
  width: 400px;
  border: none;
}

.modal-header {
  border: none;
}

.close span {
  font-size: 5rem;
  color: #fff;
}

// Mobile carousel
.carousel-item img {
  height: 500px;
}


// SUPPORTED RELIGION

.religions {
  padding-top: 5.8rem;
}

.card {
  border: none;
}

.card-body {
  background-color: var(--background-color);
  color: var(--color-primary);

  p {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }
}

.card-img-top {
  height: 25rem;
  padding: 3px;
}

// Footer

.footer {
  margin-top: 5.8rem;
  background-color: var(--background-color);
  color: var(--color-primary);

  & p {
    font-size: 1.6rem;
    font-weight: 600;
  }

  & span {
    font-size: 1.6rem;
  }
}

.touch,
.call,
.social {
  padding: 3rem 8rem;
  text-align: center;
}

.touch-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.touchspan {
  margin-bottom: 0;
  margin-left: 4px;
  font-weight: normal !important;
}

.social {
  padding-right: 0;
}

.media-icons img {
  margin: 0 2rem;
}

.second-footer {
  text-align: center;
  padding-bottom: 2rem;

  & span {
    margin: 0 5px;
    font-size: 1.4rem;
  }
}

// MEDIA QUERIES

@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    align-items: center;
    justify-content: center;
  }
  .mobile-home {
    justify-content: space-evenly !important;
  }

  .notified {
    justify-content: center;
  }

  .notified-btn {
    padding-left: 0;
  }

  // HOW IT WORKS



  .touch-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .touch,
  .call,
  .social {
    padding: 2rem 3rem;
    text-align: center;
  }

  .media-icons img {
    height: 25px;
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }

  .logo {
    width: 100px !important;
  }

  // .number2 {
  //   font-size: 18rem;
  // }
}

@media only screen and (max-width: 576px) {

  .input-group {
    width: 60.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .notify-btn {
    margin-top: 1rem;
  }

  .touch,
  .call,
  .social {
    padding: 1rem 0.5rem;
    text-align: center;
  }

  .media-icons img {
    height: 25px;
    margin: 0.5rem;
  }

  .media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
