// Basic resets
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // so 1 rem = 10px => 10/16 * 100 = 62.5%
    scroll-behavior: smooth;
}

/* Variables */

:root {
    --main-font: 'Raleway', sans-serif;
    --color-primary: #fff;
    --color-secondary: #EF6F6C;
    --background-color:  #264653;
    --header-color: #465775;
    --btn-color: #2A9D8F;
  }

body {
    font-family: var(--main-font);
    overflow-x: hidden;
}

/* Preloader */

.preloader {
    background: linear-gradient(45deg, var(--background-color), var(--header-color));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .preloader.hidden {
    animation: fadeOut 1s forwards;
  }

  .loader-img.hidden {
      animation: trans 1s forwards;
  }
  
  @keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes trans {
    100% {
        transform: translate(-600px, -300px);

    }
  }
  
  .loader-img {
    height: 30px;
    border-radius: 50%;
    animation: load 1.5s  infinite linear;
  }
  
  @keyframes load {
    100% {
      transform: rotateY(360deg);
    
    }
  }

  /* Dynamic Hamburger Menu */
.nav-toggle,
.one,
.two,
.three {
  transition: all 0.5s;
}

.one {
  transform: rotate(45deg) translate(2px, 16px);
}
.two {
  transform: translateX(200px);
}
.three {
  transform: rotate(-45deg) translateY(-14px);
}

.nav-con {
  transform: translateX(10px);
}

.navbar-toggler:focus {
  outline: none;
}

/* End of Hamburger menu */

.nav-custom {
    background: var(--background-color);
    overflow: hidden;
  }
  
  .nav-custom li {
    margin: 0 9px;
  }
 
  
  .nav-custom a {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.1rem;
    color: var(--color-primary) !important;
    transition: all 0.5s;
  }
  .nav-custom a:hover {
    color: var(--color-secondary) !important;
  }
  
  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nav-toggle-icon {
    background-color: var(--color-secondary);
    width: 4rem;
    height: 5px;
    margin: 3px;
    border-radius: 5px;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .btn-nav {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    width: 15rem;
  }
  .btn-nav:hover,
  .btn-nav:active {
    color: var(--color-secondary) !important;
  }

//   Home


.home {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding-top: 5.8rem;
    color: var(--color-primary);
}

.background-video {
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    z-index: -1;

}
.home:before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(70, 87, 117, 0.7), rgba(239, 111, 108, 0.7));
}

.content {
    width: 100%;
    height: 100%;
}

.home-img {
    // box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    padding-top: 2rem;
}

.typecon {
  height: 40rem!important;
}

// typed
.typed-cursor {
  opacity: 0;
  visibility: hidden;
}

.home-text {
    font-weight: bold;
    font-size: 4.4rem;
    line-height: 5.6rem;
    text-align: center;
    text-shadow: 2px 2px rgba(0,0,0,0.62);
    padding-top: 10rem;
    margin-bottom: 5rem;
}

.notified {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.notified-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 12rem;



    p {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.03em;
        text-shadow: 2px 2px rgba(0,0,0,0.62);
    }
}

.coming-soon {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-align: center;
    align-self: flex-end;
    
    p {
        margin-bottom: 0;
        padding-right: 2rem;
        text-shadow: 2px 2px rgba(0,0,0,0.62);
    }
}

// Animation for home button
@keyframes bounce {
    100% {
        transform: translateY(10px);
    }
}

.bounce {
    animation: bounce .8s infinite alternate;

    &:hover svg {
        fill: var(--btn-color)!important;
        
    }
}

